html, body {
    margin: 0;
    background-color: #2f4f30;
    color: white;
}

.cards-col {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
}

.title {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 25px;
}

.cards {
    display: flex;
    flex-direction: row;
    height: 220px;
}

.card {
    width: 150px;
    position: relative;
    left: 100px;
    margin-left: -75px;
}